<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
	
 <!--application 傳遞参数，不能使用logback 自带的<property>标签 -->
 		<include resource="org/springframework/boot/logging/logback/base.xml"/>
 		<springProperty scope="context" name="appname" source="logback.appname" />
    <springProperty scope="context" name="logdir" source="logback.logdir"/>
		<springProperty scope="context" name="errFile" source="logback.errFile"/>
		<springProperty scope="context" name="infoFile" source="logback.infoFile"/>
		<springProperty scope="context" name="jdbcFile" source="logback.jdbcFile"/>
    <contextName>${appname}</contextName>

    	<!--输出到控制台 ErrorAppender-->
    <appender name="rollingLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
  			  <!--如果只是想要 Error 级别的日志，那么需要过滤一下，默认是 info 级别的，ThresholdFilter-->

   		  	<!--如果只是想要 Error 级别的日志，那么需要过滤一下，默认是 info 级别的，ThresholdFilter-->
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    	</filter>
    	
    	<file>${logdir}${errFile}</file>
     <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

        <!-- daily rollover -->
        <fileNamePattern>${logdir}${errFile}.%d{yyyy-MM-dd}.log</fileNamePattern>

    </rollingPolicy>
    
    <encoder>
    	<charset>UTF-8</charset>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
    </appender>
    
    <!--输出到控制台 ErrorAppender-->
    <appender name="InfoRollingLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
  			  <!--如果只是想要 Error 级别的日志，那么需要过滤一下，默认是 info 级别的，ThresholdFilter-->

   		  	<!--如果只是想要 Error 级别的日志，那么需要过滤一下，默认是 info 级别的，ThresholdFilter-->
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>INFO</level>
        <level>DEBUG</level>
    	</filter>
    	
    	<file>${logdir}${infoFile}</file>
     <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

        <!-- daily rollover -->
        <fileNamePattern>${logdir}${infoFile}.%d{yyyy-MM-dd}.log</fileNamePattern>

    </rollingPolicy>
    
    <encoder>
    	<charset>UTF-8</charset>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
    </appender>
    
      <!--输出到控制台 ErrorAppender-->
    <appender name="JdbcRollingLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
  			  <!--如果只是想要 Error 级别的日志，那么需要过滤一下，默认是 info 级别的，ThresholdFilter-->

    	
    	<file>${logdir}${jdbcFile}</file>
     <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

        <!-- daily rollover -->
        <fileNamePattern>${logdir}${jdbcFile}.%d{yyyy-MM-dd}.log</fileNamePattern>

    </rollingPolicy>
    
    <encoder>
    	<charset>UTF-8</charset>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
    </appender>
    
    <root level="INFO">
    	<appender-ref ref="rollingLog" />
    	<appender-ref ref="InfoRollingLog" />
			<appender-ref ref="JdbcRollingLog" />
		</root>
 		 
 		 <logger name="org.springframework.web" level="INFO"/>
 		 <!--顯示日誌-->  
    <logger name="org.springframework.jdbc.core" additivity="false" level="TRACE" >  
        <appender-ref ref="JdbcRollingLog" />
    </logger>  
</configuration>