<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/load/css :: css"></head>
<head th:include="admin/load/js :: js"></head>
<head>
<meta charset="UTF-8">
<title>學校列表</title>
</head>

	<body class="no-skin">
		<div th:include="admin/load/header :: header">&nbsp;</div>
		<form id="mainForm" method="POST" th:object="${schoolMaster}">
			<input type="hidden" id="id" th:field="*{id}" />
			<input type="hidden" id="page" th:field="*{page}" />
			<input type="hidden" id="totalPage" th:field="*{total_page}" />
		</form>
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>
			<div id="sidebar" class="sidebar responsive ace-save-state" th:include="admin/load/menu :: menu"></div>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<span style="font-size:20px; padding-left: 10px">學校列表</span>
					</div>
					<div class="page-content">

						<div class="row">
							<div class="col-xs-12">

								<div id="default-buttons" class="col-sm-6">
									<p>
										<button class="btn btn-white btn-info" type="button" onclick="toAdd()">新增</button>
										<button class="btn btn-white btn-info" type="button" data-toggle="modal" onclick="toImport()">匯入</button>
									</p>
								</div>

								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<table id="simple-table" class="table table-bordered table-hover">
											<thead>
												<tr>
													<th width="5%" class="center">序號</th>
													<th width="10%">學制</th>
													<th width="20%">名稱</th>
													<th width="10%">公/私立</th>
													<th width="35%">地址</th>
													<th width="10%">顯示</th>
													<th width="10%"></th>
												</tr>
											</thead>

											<tbody>
												<tr th:each="list,stat:${list}">
													<td class="center" th:text="${stat.count+((page-1)*page_count)}"></td>
													<td th:text="${list.type_name}"></td>
													<td th:text="${list.name}"></td>
													<td th:text="${list.school_type_name}"></td>
													<td th:text="${list.address}"></td>
													<td th:text="${list.display_name}"></td>
													<td>
														<div class="hidden-sm hidden-xs btn-group">
															<button class="btn btn-xs btn-info" th:onclick="toUpdate([[${list.id}]])">
																<i class="ace-icon fa fa-pencil bigger-120"></i>
															</button>

															<button class="btn btn-xs btn-danger" th:onclick="toDelete([[${list.id}]])">
																<i class="ace-icon fa fa-trash-o bigger-120"></i>
															</button>
														</div>

														<div class="hidden-md hidden-lg">
															<div class="inline pos-rel">
																<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
																	<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
																</button>

																<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																	<li>
																		<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
																		</a>
																	</li>

																	<li>
																		<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div><!-- /.span -->
								</div><!-- /.row -->
								<div class="pagebar" th:include="admin/load/pages :: pages"></div>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
		<div id="import-form" class="modal" tabindex="-1">
			<div id="import-modal-dialog" class="modal-dialog" style="width: 400px;">
				<div class="modal-content">
					<form id="importForm" method="POST" th:object="${schoolMaster}" enctype="multipart/form-data">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="blue bigger">匯入</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-xs-12 col-sm-12">
									<div class="space-4"></div>
<!-- 									<div class="form-group"> -->
<!-- 										<label for="form-field-first">壓縮檔案</label> -->
<!-- 										<input type="file" id="compression" name="compression" /> -->
<!-- 									</div> -->
									<div class="form-group">
										<label for="form-field-first">Excel檔案</label>
										<input type="file" id="import" name="import" />
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-sm" data-dismiss="modal">
								<i class="ace-icon fa fa-times"></i>
								取消
							</button>
							<button class="btn btn-sm btn-primary" onclick="importExcel()">
								<i class="ace-icon fa fa-check"></i>
								匯入資料
							</button>
						</div>
					</form>
				</div>
			</div>
		</div><!-- PAGE CONTENT ENDS -->
		<script>
		
			//選單選取判斷
			$(".menu").removeClass("active");
			$(".menu").parent("ul").parent("li").removeClass("open");
			$(".menu").parent("ul").parent("li").removeClass("active");
			$(".schoolMaster").addClass("active");
			$(".schoolMaster").parent("ul").parent("li").addClass("open");
			$(".schoolMaster").parent("ul").parent("li").addClass("active");
			
			$('#import').ace_file_input({
				no_file:'No File ...',
				btn_choose:'Choose',
				btn_change:'Change',
				droppable:false,
				onchange:null,
				thumbnail:false //| true | large
				//whitelist:'gif|png|jpg|jpeg'
				//blacklist:'exe|php'
				//onchange:''
				//
			});
			
			function toList(page) {
				
				$("#page").val(page);
				$("#mainForm").attr("action", "list");
				$("#mainForm").submit();
				
			}
			
			function toAdd() {
				
				$("#mainForm").attr("action", "add");
				$("#mainForm").submit();
	
			}
			
			function toUpdate(id) {
				
				$("#id").val(id);
				$("#mainForm").attr("action", "update");
				$("#mainForm").submit();
			}
			
			function toDelete(id){
				if(confirm("確定刪除？？")) {
					$("#id").val(id);
					$("#mainForm").attr("action", "delete");
					$("#mainForm").submit();
				}
			}
			
			function toImport() {
				$("#import-form").modal("show");
			}
			
			function importExcel(){
				$("#importForm").attr("action", "import/excel");
				$("#importForm").submit();
			}
		
		</script>
	</body>
</html>
