<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/load/css :: css"></head>
<head>
	<title>素養教案與命題管理系統 - 新增命題基本題</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body th:class="${accountSession.level<='2' ? 'style-admin' : accountSession.level=='3' ? 'style-content-teacher' : 'style-verify-teacher'}">    
    <section class="header-content" th:include="front/load/header :: header">&nbsp;</section>
    <section class="main-content">
        <div class="fixed-width">
            <div class="breadcrumb">
                <a href="/">首頁</a>
                <i>/</i>
                <a href="/proposition/basic">命題管理</a>
                <i>/</i>
                <a href="/proposition/basic">命題列表</a>
                <i>/</i>
                <a href="#">新增命題-基本題</a>
            </div>
            <div class="create-content lesson">
                <h3><i class="fas fa-book-open"></i>新增命題-基本題<i class="fas fa-book"></i></h3>
                <form role="form" id="mainForm" th:object="${proposition}" method="post" enctype="multipart/form-data">
                <div class="create-grid">
                    <div><span class="required">*</span>合約序號</div>
                    <div>
                        <select id="contractNum" th:field="*{contract_id}">
                            <option value="0">請選擇合約</option>
                            <option th:each="contract:${contractList}" th:value="${contract.contract_id}" th:text="${contract.contract_id}"></option>
                        </select>
                    </div>
                    <div><span class="required">*</span>命題名稱</div>
                    <div>
                        <input type="text" placeholder="請輸入命題名稱" id="lessonName" th:field="*{name}">
                    </div>
                    <div><span class="required">*</span>學習領域</div>
                    <div>
                        <select id="specialSkill" th:field="*{field_id}">
                            <option value="0">請選擇學習領域</option>
                            <option th:each="field:${fieldList}" th:value="${field.id}" th:text="${field.name}"></option>
                        </select>
                    </div>
                    <div class="basic-h"><span class="required">*</span>學科</div>
                    <div class="basic-h">
                        <!-- label的for 與 input的id要一致 -->
                        <label class="les-labelBlock" th:each="subject:${subjectList}" >
                            <div class="checkbox-square"></div>
                            <span>[[${subject.name}]]</span>
                            <input type="checkbox" class="dis-n" name="subject" th:value="${subject.id}">
                        </label>
                    </div>
                    <div><span class="required">*</span>學制</div>
                    <div>
                        <select id="schoolType" th:field="*{education_id}">
                            <option value="0">請選擇學制</option>
                            <option th:each="education:${educationList}" th:value="${education.id}" th:text="${education.name}">國小</option>
                        </select>                        
                    </div>
                    <div class="basic-h" id="gradeTitle"><span class="required">*</span>年級</div>
                    <div class="basic-h" id="grade"></div>
                    <div><span class="required">*</span>初稿檔案</div>
                    <div>
                        <label for="lessonFile">
                            <input type="file" class="dis-n btnFile" id="lessonFile" name="fileName" accept=".pdf,.ppt,.doc,.docx,.xls,.xlsx" value="" data-text="lessonFileText">
                            <span class="btn-file">選擇檔案</span>
                        </label>                        
                        <span class="memo">註：僅接受附檔名為.pdf、.ppt、.doc、.docx、.xls、.xlsx</span>                        
                        <p class="lessonFileText"></p>
                    </div>
<!--                     <div class="p-left-14px">關鍵字</div> -->
<!--                     <div> -->
<!--                     	<input type="text" placeholder="請輸入關鍵字" class="keyWord"> -->
<!--                     	<input type="hidden" value="" class="keyWordInput" name="tag"> -->
<!--                     </div> -->
                </div>
                <button class="btn-submit" data-type="propoBasicCreate" type="button">送出</button>
                </form>
            </div>                
        </div>
    </section>
    
    <!-- 警告燈箱 -->
    <section class="lightBoxAlert dis-n">        
        <!-- <button class="btn-closeLightBox" data-lb="lessonOutline"><i class="fas fa-times-circle fa-lg"></i></button> -->        
        <div class="container">
            <div>尚未填寫</div>
        </div>
        <button class="btn-closelightBoxAlert btn-sm">確定</button>
    </section>

    <div th:include="front/load/js :: js"></div>  
	<script>
		$("#gradeTitle").hide();
		$("#grade").hide();
		$("#schoolType").change(function(){
			if($("#schoolType").val() != "0") {
				$.ajax({
					url: '/proposition/basic/get/grade',
					cache: false,
					async: false,
					dataType: 'json',
					type: 'POST',
					data: {
						id: $(this).val()
					},
					error: function(xhr) {
						alert("取得資料錯誤");
					},
					success: function(data) {
						if(data != null && data.length > 0) {
							$("#gradeTitle").show();
							$("#grade").show();
							$("#grade").empty();
							var str = "";
							for(i=0; i<data.length; i++) {
								var child = data[i];
								str += "<label class='les-labelBlock' for='"+child.NAME+"'>"
									+  "<div class='checkbox-square'></div>"
									+  "<span>"+child.NAME+"</span>"
									+  "<input type='checkbox' id='"+child.NAME+"' class='dis-n' name='grade' value="+child.ID+">"
									+  "</label>"
							}
							$("#grade").append(str);
						}
					}
				});
			} else {
				$("#gradeTitle").hide();
				$("#grade").hide();
			}
		});
	
	</script>
</body>
</html>