<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/load/css :: css"></head>
<head>
	<title>素養教案與命題管理系統 - 新增教案</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body th:class="${accountSession.level<='2' ? 'style-admin' : accountSession.level=='3' ? 'style-content-teacher' : 'style-verify-teacher'}">    
    <section class="header-content" th:include="front/load/header :: header">&nbsp;</section>
    <section class="main-content">
        <div class="fixed-width">
            <div class="breadcrumb">
                <a href="/">首頁</a>
                <i>/</i>
                <a href="/lesson">教案管理</a>
                <i>/</i>
                <a href="/lesson">教案列表</a>
                <i>/</i>
                <a href="#">新增教案</a>
            </div>
            <div class="create-content lesson">
                <h3><i class="fas fa-book-open"></i>新增教案<i class="fas fa-book"></i></h3>
                <form role="form" id="mainForm" th:object="${lessonPlan}" method="post" enctype="multipart/form-data">
                <div class="create-grid">
                    <div><span class="required">*</span>合約序號</div>
                    <div>
                        <select id="contractNum" th:field="*{contract_id}">
                            <option value="0">請選擇合約</option>
                            <option th:each="contract:${contractList}" th:value="${contract.contract_id}" th:text="${contract.contract_id}"></option>
                        </select>
                    </div>
                    <div><span class="required">*</span>教案名稱</div>
                    <div>
                        <input type="text" placeholder="請輸入教案名稱" id="lessonName" th:field="*{name}">
                    </div>
                    <div><span class="required">*</span>學科</div>
                    <div>
                        <select id="specialSkill" th:field="*{subject_id}">
                            <option value="0">請選擇學科</option>
                            <option th:each="subject:${subjectList}" th:value="${subject.id}" th:text="${subject.name}"></option>
                        </select>
                    </div>
                    <div class="basic-h" id="crossSubjectTitle"><span class="required">*</span>跨科</div>
                    <div class="basic-h" id="crossSubject">
                        <!-- label的for 與 input的id要一致 -->
                        <label class="les-labelBlock" th:each="subject:${subjectList}" >
                            <div class="checkbox-square"></div>
                            <span>[[${subject.name}]]</span>
                            <input type="checkbox" class="dis-n" name="crossSubject" th:value="${subject.id}">
                        </label>
                    </div>
                    <div><span class="required">*</span>學制</div>
                    <div>
                        <select id="schoolType" th:field="*{education_id}">
                            <option value="0">請選擇學制</option>
                            <option th:each="education:${educationList}" th:value="${education.id}" th:text="${education.name}"></option>
                        </select>                        
                    </div>
                    <div class="basic-h" id="gradeTitle"><span class="required">*</span>年級</div>
                    <div class="basic-h" id="grade"></div>
                    <div><span class="required">*</span>初稿檔案</div>
                    <div>
                        <label for="lessonFile">
                            <input type="file" class="dis-n btnFile" id="lessonFile" name="fileName" accept=".pdf,.ppt,.doc,.docx,.xls,.xlsx" value="" data-text="lessonFileText">
                            <span class="btn-file">選擇檔案</span>
                        </label>                        
                        <span class="memo">註：僅接受附檔名為.pdf、.ppt、.doc、.docx、.xls、.xlsx</span>                        
                        <p class="lessonFileText"></p>
                    </div>
<!--                     <div class="p-left-14px">關鍵字</div> -->
<!--                     <div> -->
<!--                     	<input type="text" placeholder="請輸入關鍵字" class="keyWord"> -->
<!--                     	<input type="hidden" value="" class="keyWordInput" name="tag"> -->
<!--                     </div> -->
                </div>
                <button class="btn-submit" data-type="lessonCreate" type="button">送出</button>
                </form>
            </div>                
        </div>
    </section>
    
    <!-- 警告燈箱 -->
    <section class="lightBoxAlert dis-n">        
        <!-- <button class="btn-closeLightBox" data-lb="lessonOutline"><i class="fas fa-times-circle fa-lg"></i></button> -->        
        <div class="container">
            <div>尚未填寫</div>
        </div>
        <button class="btn-closelightBoxAlert btn-sm">確定</button>
    </section>

    <div th:include="front/load/js :: js"></div>  
	<script>
	
		$("#contractNum").change(function(){
			setContract($(this).val());
		})
	
		getGrade($("#schoolType").val());
		$("#schoolType").change(function(){
			if($("#schoolType").val() != "0") {
				getGrade($(this).val());
			} else {
				$("#gradeTitle").hide();
				$("#grade").hide();
			}
		});
		
		getCrossSubject($("#specialSkill").val());
		$("#specialSkill").change(function(){
			if($("#specialSkill").val() != "0") {
				getCrossSubject($(this).val());
			} else {
				$("#crossSubjectTitle").hide();
				$("#crossSubject").hide();
			}
		});
		
		function getField(id) {
			$.ajax({
				url: '/lesson/get/field',
				cache: false,
				async: false,
				dataType: 'json',
				type: 'POST',
				data: {
					id: id
				},
				error: function(xhr) {
					alert("取得資料錯誤");
				},
				success: function(data) {
					if(data != null && data.length > 0) {
						$("#gradeTitle").show();
						$("#grade").show();
						$("#grade").empty();
						var str = "";
						for(i=0; i<data.length; i++) {
							var child = data[i];
							str += "<label class='les-labelBlock' for='"+child.NAME+"'>"
								+  "<div class='checkbox-square'></div>"
								+  "<span>"+child.NAME+"</span>"
								+  "<input type='checkbox' id='"+child.NAME+"' class='dis-n' name='grade' value="+child.ID+">"
								+  "</label>"
						}
						$("#grade").append(str);
					}
				}
			});
		}
		
		function getCrossSubject(id) {
			$.ajax({
				url: '/get/cross/subject',
				cache: false,
				async: false,
				dataType: 'json',
				type: 'POST',
				data: {
					id: id
				},
				error: function(xhr) {
					alert("取得資料錯誤");
				},
				success: function(data) {
					if(data != null && data.length > 0) {
						$("#crossSubjectTitle").show();
						$("#crossSubject").show();
						$("#crossSubject").empty();
						var str = "";
						for(i=0; i<data.length; i++) {
							var child = data[i];
							str += "<label class='les-labelBlock' for='"+child.NAME+"'>"
								+  "<div class='checkbox-square'></div>"
								+  "<span>"+child.NAME+"</span>"
								+  "<input type='checkbox' id='"+child.NAME+"' class='dis-n' name='grade' value="+child.ID+">"
								+  "</label>"
						}
						$("#crossSubject").append(str);
					}
				}
			});
		}
		
		function getGrade(id) {
			$.ajax({
				url: '/get/grade',
				cache: false,
				async: false,
				dataType: 'json',
				type: 'POST',
				data: {
					id: id
				},
				error: function(xhr) {
					alert("取得資料錯誤");
				},
				success: function(data) {
					if(data != null && data.length > 0) {
						$("#gradeTitle").show();
						$("#grade").show();
						$("#grade").empty();
						var str = "";
						for(i=0; i<data.length; i++) {
							var child = data[i];
							str += "<label class='les-labelBlock' for='"+child.NAME+"'>"
								+  "<div class='checkbox-square'></div>"
								+  "<span>"+child.NAME+"</span>"
								+  "<input type='checkbox' id='"+child.NAME+"' class='dis-n' name='grade' value="+child.ID+">"
								+  "</label>"
						}
						$("#grade").append(str);
					}
				}
			});
		}
		
		function setContract(id) {
			$.ajax({
				url: '/set/contract',
				cache: false,
				async: false,
				dataType: 'json',
				type: 'POST',
				data: {
					contract_id: id
				},
				error: function(xhr) {
					alert("取得資料錯誤");
				},
				success: function(data) {
					if(data != null && data.length > 0) {
						var child = data[0];
						$("#specialSkill").val(child.SUBJECT_ID);
						$("#schoolType").val(child.EDUCATION_ID);
						getGrade(child.EDUCATION_ID);
						getCrossSubject(child.SUBJECT_ID);
					}
				}
			});
		}
	</script>
</body>
</html>