<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css">
	<link type="text/css" rel="stylesheet" th:href="@{/front/css/reset.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/all.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/fontawesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/jquery-customselect.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/main.css}">
</head>
</html>