<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="js">

<script th:src="@{/admin/js/ace-extra.min.js}"></script>

<script th:src="@{/admin/js/jquery-2.1.4.min.js}"></script>

<script th:src="@{/admin/js/jquery-ui.min.js}"></script>
<script th:src="@{/admin/js/jquery-ui.custom.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>

<script th:src="@{/admin/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/js/jquery.dataTables.bootstrap.min.js}"></script>
<script th:src="@{/admin/js/dataTables.select.min.js}"></script>

<!-- page specific plugin scripts -->
<script th:src="@{/admin/js/jquery.nestable.min.js}"></script>

<script th:src="@{/admin/js/bootstrap-wysiwyg.min.js}"></script>
<script th:src="@{/admin/js/jquery.hotkeys.index.min.js}"></script>

<script th:src="@{/admin/js/bootstrap-datepicker.min.js}"></script>

<script th:src="@{/admin/js/bootstrap-tag.min.js}"></script>

<!-- ace scripts -->
<script th:src="@{/admin/js/ace-elements.min.js}"></script>
<script th:src="@{/admin/js/ace.min.js}"></script>

<script th:src="@{/admin/js/base.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>

</head>
</html>