<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/load/css :: css"></head>
<head>
	<title>素養教案與命題管理系統</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body th:class="${accountSession.level=='3' ? 'style-content-teacher' : accountSession.level=='4' ? 'style-verify-teacher' : 'style-admin'}">
    <section class="header-content" th:include="front/load/header :: header">&nbsp;</section>
    <section class="main-content">
        <div class="fixed-width">
            <div class="index-memoBlock">
               
                <!-- 一般管理者 -->
                <div class="memo admin-memo" th:if="${accountSession.level <= '2'}">
                    <h3>系統提醒</h3>
                    <div class="admin-grid">
                        <div class="title">合約類型</div>
                        <div class="title">有效</div>
                        <div class="title">過期</div>
                        <div class="title">完成</div>
                        <div class="title">未完成</div>
                        <div class="title">小計</div>
                    </div>
                    <div class="admin-grid">
                        <div>老師授權合約</div>
                        <div>[[${contractNum.EFFECTIVE_NUM}]]</div>
                        <div class="text-c-red">[[${contractNum.EXPIRE_NUM}]]</div>
                        <div>[[${contractNum.COMPLETE}]]</div>
                        <div class="text-c-red">[[${contractNum.NO_COMPLETE}]]</div>
                        <div>[[${contractNum.TOTAL}]]</div>
                    </div>
                </div> 

                <!-- 內容老師 -->
                <div class="memo principal-memo" th:if="${accountSession.level == '3'}" th:each="educationSubject:${educationSubjectList}">
                    <h3>[[${educationSubject.SUBJECT_NAME}]]-[[${educationSubject.EDUCATION_NAME}]]</h3>
                    <div class="principal-grid">
                        <div class="title">創作類型</div>
                        <div class="title">已上傳</div>
                        <div class="title">初審中/待修正</div>
                        <div class="title">審核中/待修正</div>
                        <div class="title">完稿確認</div>
                        <div class="title">後製完稿</div>
                        <div class="title">須上傳總數</div>
                    </div>
                    <div class="principal-grid" th:each="list:${list}" th:if="${list.education_id.toString() == educationSubject.education_id.toString() && list.subject_id.toString() == educationSubject.subject_id.toString()}">
                        <div th:if="${list.question_type == '0'}">教案</div>
                        <div th:if="${list.question_type == '1'}">命題-選擇題</div>
                        <div th:if="${list.question_type == '2'}">命題-混核題</div>
                        <div>[[${list.LP1_COUNT}]]</div>
                        <div>
                            <span>[[${list.A_SUM}]]</span>
                            /
                            <span class="text-c-red">[[${list.B_SUM}]]</span>
                        </div>
                        <div>
                            <span>[[${list.C_SUM}]]</span>
                            /
                            <span class="text-c-red">[[${list.D_SUM}]]</span>
                        </div>
                        <div>[[${list.E_SUM}]]</div>
                        <div>[[${list.F_SUM}]]</div>
                        <div>[[${list.CONTRACT_SUM}]]</div>
                    </div>
                </div> 
                
                <!-- 審核老師 -->                
                <div class="memo verify-memo" th:if="${accountSession.level == '4'}">
                    <h3>[[${subject_name}]]-[[${education_name}]]</h3>
                    <div class="verify-grid">
                        <div class="title">創作類型</div>
                        <div class="title">待審核</div>
                        <div class="title">待修正</div>
                        <div class="title">審核通過</div>
                        <div class="title">須審核總數</div>
                    </div>
                    <div class="verify-grid" th:each="list:${list}">
                        <div th:if="${list.question_type == '0'}">教案</div>
                        <div th:if="${list.question_type == '1'}">命題-選擇題</div>
                        <div th:if="${list.question_type == '2'}">命題-混核題</div>
                        <div>[[${list.C_SUM}]]</div>
                        <div>[[${list.D_SUM}]]</div>
                        <div>[[${list.E_SUM}]]</div>
                        <div>[[${list.AUDIT}]]</div>
                    </div>
                </div> 
                <!-- 校長、組長 -->               
                <div class="memo principal-memo" th:if="${accountSession.level == '5' || accountSession.level == '6' || accountSession.level == '7'}" th:each="subjectList:${subjectList}">
                    <h3>[[${subjectList.name}]]</h3>
                    <div class="principal-grid">
                        <div class="title">學制</div>
                        <div class="title">已上傳</div>
                        <div class="title">初審中/待修正</div>
                        <div class="title">審核中/待修正</div>
                        <div class="title">完稿確認</div>
                        <div class="title">後製完稿</div>
                        <div class="title">須上傳總數</div>
                    </div>
                    <div class="principal-grid" th:each="educationList:${educationList}" th:if="${educationList.SUBJECT_ID.toString() == subjectList.ID.toString()}">
                        <div>[[${educationList.EDUCATION_NAME}]]</div>
                        <div>[[${educationList.P1_COUNT}]]</div>
                        <div>
                            <span>[[${educationList.A_SUM}]]</span>
                            /
                            <span class="text-c-red">[[${educationList.B_SUM}]]</span>
                        </div>
                        <div>
                            <span>[[${educationList.C_SUM}]]</span>
                            /
                            <span class="text-c-red">[[${educationList.D_SUM}]]</span>
                        </div>
                        <div>[[${educationList.E_SUM}]]</div>
                        <div>[[${educationList.F_SUM}]]</div>
                        <div>[[${educationList.CONTRACT_SUM}]]</div>
                    </div>
                </div> 
            </div>
        </div>
    </section>

    <div th:include="front/load/js :: js"></div>

</body>
</html>