<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/load/css :: css"></head>
<head>
	<title>素養教案與命題管理系統</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body th:class="${accountSession.level=='3' ? 'style-content-teacher' : accountSession.level=='4' ? 'style-verify-teacher' : 'style-admin'}">
    <section class="header-content" th:include="front/load/header :: header">&nbsp;</section>
    <section class="main-content">
        <div class="fixed-width">
            <div class="index-memoBlock">
               
                <!-- 一般管理者 -->
                <div class="memo admin-memo" th:if="${accountSession.level <= '2'}">
                    <h3>系統提醒</h3>
                    <div class="admin-grid">
                        <div class="title">合約類型</div>
                        <div class="title">有效</div>
                        <div class="title">過期</div>
                        <div class="title">完成</div>
                        <div class="title">未完成</div>
                        <div class="title">小計</div>
                    </div>
                    <div class="admin-grid">
                        <div>老師授權合約</div>
                        <div>[[${contractNum.EFFECTIVE_NUM}]]</div>
                        <div class="text-c-red">[[${contractNum.EXPIRE_NUM}]]</div>
                        <div>[[${contractNum.COMPLETE}]]</div>
                        <div class="text-c-red">[[${contractNum.NO_COMPLETE}]]</div>
                        <div>[[${contractNum.TOTAL}]]</div>
                    </div>
                </div> 

                <!-- 內容老師 -->
                <div class="memo" th:if="${accountSession.level == '3'}">  
                    <h3>未上傳</h3>
                    <div>
                        <p>尚有<span th:classappend="${lessonNum-lessonAddCount-lessonEditCount-lessonDoneCount > 0} ? 'text-c-red' : ''">[[${lessonNum-lessonAddCount-lessonEditCount-lessonDoneCount}]]</span>份教案未上傳</p>
                        <p>尚有<span th:classappend="${basicNum-basicAddCount-basicEditCount-basicDoneCount > 0} ? 'text-c-red' : ''">[[${basicNum-basicAddCount-basicEditCount-basicDoneCount}]]</span>份命題基本題未上傳</p>
                        <p>尚有<span th:classappend="${questionsGroupNum-questionsGroupAddCount-questionsGroupEditCount-questionsGroupDoneCount > 0} ? 'text-c-red' : ''">[[${questionsGroupNum-questionsGroupAddCount-questionsGroupEditCount-questionsGroupDoneCount}]]</span>份命題題組題未上傳</p>
                    </div>                    
                </div>
                <div class="memo" th:if="${accountSession.level == '3'}"> 
                    <h3>待修正</h3>
                    <div>
                        <p>尚有<span th:classappend="${lessonEditCount > 0} ? 'text-c-red' : ''">[[${lessonEditCount}]]</span>份教案待修正</p>
                        <p>尚有<span th:classappend="${basicEditCount > 0} ? 'text-c-red' : ''">[[${basicEditCount}]]</span>份命題基本題待修正</p>
                        <p>尚有<span th:classappend="${questionsGroupEditCount > 0} ? 'text-c-red' : ''">[[${questionsGroupEditCount}]]</span>份命題題組題待修正</p>
                    </div>                    
                </div>
                
                <!-- 審核老師 -->                
                <div class="memo" th:if="${accountSession.level == '4'}">  
                    <h3>未審核</h3>
                    <div>
                        <p>尚有<span th:classappend="${unLessonAuditCount > 0} ? 'text-c-red' : ''">[[${unLessonAuditCount}]]</span>份教案未審核</p>
                        <p>尚有<span th:classappend="${unBasicAuditCount > 0} ? 'text-c-red' : ''">[[${unBasicAuditCount}]]</span>份命題基本題未審核</p>
                        <p>尚有<span th:classappend="${unGroupAuditCount > 0} ? 'text-c-red' : ''">[[${unGroupAuditCount}]]</span>份命題題組題未審核</p>
                    </div>                    
                </div>
                <!-- 校長、組長 -->
                <div class="principal-memo" th:if="${accountSession.level == '5' || accountSession.level == '6' || accountSession.level == '7'}" th:each="fieldList:${fieldList}">
                    <h3>[[${fieldList.name}]]</h3>
                    <div class="principal-grid">
                        <div class="title">學制</div>
                        <div class="title">已上傳</div>
                        <div class="title">完稿</div>
                        <div class="title">須上傳</div>
                    </div>
                    <div class="principal-grid" th:each="education:${educationList}" th:if="${education.FIELD_ID.toString() == fieldList.id.toString()}">
                        <div>[[${education.EDUCATION_NAME}]]</div>
                        <div>[[${education.UPLOAD_NUM}]]</div>
                        <div>[[${education.COMPLETE_NUM}]]</div>
                        <div>[[${education.TOTAL_NUM}]]</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:include="front/load/js :: js"></div>

</body>
</html>