<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>素養教案與命題管理系統</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/reset.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/all.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/fontawesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/jquery-customselect.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/main.css}">
</head>
<body class="style-admin">    
    <section class="header-content" th:include="front/load/header :: header">&nbsp;</section>
    
    <script th:src="@{/front/js/lib/jquery-v3.4.1.min.js}"></script>
    <script th:src="@{/front/js/lib/fontawesome.min.js}"></script>
    <script th:src="@{/front/js/lib/jquery-customselect.js}"></script>
    <script th:src="@{/front/js/main.js}"></script>

</body>
</html>