<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/front/js/lib/jquery-v3.4.1.min.js}"></script>
	</head>
	<body>
		<form id="mainForm" method="POST" th:action="${PATH}" >
			<input type="hidden" id="path" th:value="${PATH}" />
			<input type="hidden" id="act" th:value="${ACT}" />
			<input type="hidden" id="message" th:value="${MESSAGE}"></input>
			<input type="hidden" id="page" name="page" th:value="${page}"></input>
			<input type="hidden" id="totalPage" name="total_page" th:value="${total_page}"></input>
			<input type="hidden" id="pageCount" name="page_count" th:value="${page_count}"></input>
			<input type="hidden" id="id" name="id" th:value="${id}"></input>
			<input type="hidden" id="parent_id" name="parent_id" th:value="${parent_id}"></input>
			<input type="hidden" id="parent_name" name="parent_name" th:value="${parent_name}"></input>
			<input type="hidden" id="layer" name="layer" th:value="${layer}"></input>
			
			<input type="hidden" id="searchPosition" name="search_position" th:if="${account}!=null" th:value="${account.search_position}" />
			<input type="hidden" id="searchContentProvision" name="search_content_provision" th:if="${account}!=null" th:value="${account.search_content_provision}" />
			<input type="hidden" id="searchContentAudit" name="search_content_audit" th:if="${account}!=null" th:value="${account.search_content_audit}" />
			<input type="hidden" id="searchName" name="search_name" th:if="${account}!=null" th:value="${account.search_name}" />
			<input type="hidden" id="searchSubject" name="search_subject" th:if="${account}!=null" th:value="${account.search_subject}" />
			<input type="hidden" id="searchSchoolMaster" name="search_school_master" th:if="${account}!=null" th:value="${account.search_school_master}" />
			<input type="hidden" id="searchEmail" name="search_email" th:if="${account}!=null" th:value="${account.search_email}" />
		</form>
	</body>
    <script>
		$(function(){
			if($("#message").val() != "") {
				alert($("#message").val());
			}
			if($("#act").val() != "teacher") {
				$("#mainForm").submit();
			} else {
				location.href = $("#path").val();
			}
		});
	</script>
</html>