<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css">

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/admin/font-awesome/4.5.0/css/font-awesome.min.css}" />
<!-- <link rel="stylesheet" th:href="@{/admin/font-awesome/5.12.1/css/font-awesome.min.css}" /> -->
<link rel="stylesheet" th:href="@{/admin/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/admin/css/jquery-ui.custom.min.css}" />

<!-- text fonts -->
<link rel="stylesheet" th:href="@{/admin/css/fonts.googleapis.com.css}" />

<link rel="stylesheet" th:href="@{/admin/css/bootstrap-datepicker3.min.css}" />

<!-- ace styles -->
<link rel="stylesheet" th:href="@{/admin/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />

<link rel="stylesheet" th:href="@{/admin/css/ace-skins.min.css}" />
<link rel="stylesheet" th:href="@{/admin/css/ace-rtl.min.css}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.css" rel="stylesheet">

</head>
</html>