<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="header">
		<div id="navbar" class="navbar navbar-default ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-header pull-left">
					<a th:href="@{/tkbrule/}" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							素養教案與命題管理系統
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								內容提供
								<i class="ace-icon fa fa-caret-down"></i>
							</a>
	
							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										內容提供
									</a>
								</li>
								<li>
									<a href="#">
										內容審核
									</a>
								</li>
							</ul>
						</li>
						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="/admin/images/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>歡迎,</small>
									<span th:text="${accountSession.name}"></span>
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>
	
							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
<!-- 								<li> -->
<!-- 									<a href="#"> -->
<!-- 										<i class="ace-icon fa fa-cog"></i> -->
<!-- 										Settings -->
<!-- 									</a> -->
<!-- 								</li> -->
	
<!-- 								<li> -->
<!-- 									<a href="profile.html"> -->
<!-- 										<i class="ace-icon fa fa-user"></i> -->
<!-- 										Profile -->
<!-- 									</a> -->
<!-- 								</li> -->
	
<!-- 								<li class="divider"></li> -->
	
								<li>
									<a href="/tkbrule/logout">
										<i class="ace-icon fa fa-power-off"></i>
										登出
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>
	</div>
</html>

