<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/load/css :: css"></head>
<head>
	<title>素養教案與命題管理系統 - 編輯</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="style-admin">
    <section class="header-content" th:include="front/load/header :: header">&nbsp;</section>
	    <form id="mainForm" method="POST" th:object="${account}">
			<input type="hidden" id="id" th:field="*{id}" />
			<input type="hidden" id="page" th:field="*{page}" />
			<input type="hidden" id="totalPage" th:field="*{total_page}" />
			<input type="hidden" id="pageCount" th:field="*{page_count}" />
		
	    <section class="main-content">
	        <div class="fixed-width">
	            <div class="breadcrumb">
	                <a href="/">首頁</a>
	                <i>/</i>
	                <a href="/teacher">老師管理</a>
	                <i>/</i>                
	                <a href="/teacher">老師列表</a>
	                <i>/</i>                
	                <a href="#" id="content">老師詳細資料</a>
	                <i>/</i>
	                <a href="#">編輯老師詳細資料</a>
	            </div>
	            <div class="create-content teacher">
	                <h3>編輯老師詳細資料</h3>
	                <div class="create-grid">
	                    <div><span class="required">*</span>真實姓名</div>
	                    <div>
	                        <span class="editOldData">[[${account.name}]]</span>
	                        <span class="editNewData"></span>
	                        <button class="btn-openLightBox" data-lb="edit-teacherName" type="button">更改姓名</button>                        
	                    </div>
	                    <div><span class="required">*</span>身份證字號</div>
	                    <div>
	                        <span class="editOldData">[[${account.id_no}]]</span>
	                        <span class="editNewData"></span>
	                        <span class="memo">註：將作為使用者的帳號，後四碼為預設密碼，請正確填寫</span>
	                        <button class="btn-openLightBox" data-lb="edit-teacherID" type="button">更改身份證字號</button>                        
	                    </div>
	                    <div><span class="required">*</span>電子信箱</div>
	                    <div>
	                        <input type="text" placeholder="請輸入電子信箱" value="" id="teacherEmail" th:field="*{email}">
	                    	<span class="memo">註：將作為通知用主要管道，請正確填寫</span>
	                    </div>
	                    <div><span class="required">*</span>手機</div>
	                    <div>
	                        <input type="text" placeholder="請輸入手機號碼" value="" id="teacherPhone" th:field="*{mobile_phone}">
	                    </div>
	                    <div><span class="required">*</span>市話</div>
	                    <div>
	                        <input type="text" placeholder="請輸入市話號碼" value="" id="teacherTel" th:field="*{telephone}">
	                        <span class="memo">範例：02-23315551</span>
	                    </div>
	                    <div><span class="required">*</span>學制</div>
	                    <div>
	                        <select id="schoolType" th:field="*{education_id}">
	                            <option value="0">請選擇學制</option>
	                            <option th:each="education:${educationList}" th:value="${education.ID}" th:text="${education.NAME}"></option>
	                        </select>
	                        <span class="memo">註：將作為內容審核的選擇基準</span>
	                    </div>
	                    <div><span class="required">*</span>學科</div>
	                    <div>
	                        <select id="subject" th:field="*{subject_id}">
	                            <option value="0">請選擇學科</option>
	                            <option th:each="subject:${subjectList}" th:value="${subject.ID}" th:text="${subject.NAME}"></option>
	                        </select>
	                        <span class="memo">註：將作為內容審核的選擇基準</span>
	                    </div>
	                    <div><span class="required">*</span>老師身份</div>
	                    <div class="basic-h">
	                        <label for="teacher">
	                            <div class="radio-circle" th:classappend="${account.position}=='1' ? 'active'"></div>
	                            <span>一般老師</span>
	                            <input type="radio" class="dis-n" id="teacher" th:field="*{position}" th:value="1">
	                        </label>
	                        <label for="team-leader">
	                            <div class="radio-circle" th:classappend="${account.position}=='2' ? 'active'"></div>
	                            <span>組長</span>
	                            <input type="radio" class="dis-n" id="team-leader" th:field="*{position}" th:value="2">
	                        </label>
	                        <label for="principal">
	                            <div class="radio-circle" th:classappend="${account.position}=='3' ? 'active'"></div>
	                            <span>校長</span>
	                            <input type="radio" class="dis-n" id="principal" th:field="*{position}" th:value="3">
	                        </label>
	                    </div>
	                    <div class="teacherBlock" th:classappend="${account.position}!=1 ? 'dis-n'"><span class="required">*</span>系統身份</div>
	                    <div class="basic-h teacherBlock" th:classappend="${account.position}!=1 ? 'dis-n'">
	                        <label for="content-teacher">
	                            <div class="checkbox-square" th:classappend="${account.content_provision}=='0'?'':'active'"></div>
	                            <span>創作教師</span>
	                            <input type="checkbox" id="content-teacher" class="dis-n identityState" name="content_provision" th:checked="${account.content_provision}=='0'?'false':'true'">
	                        </label>
	                        <label for="verify-teacher">
	                            <div class="checkbox-square" th:classappend="${account.content_audit}=='0'?'':'active'"></div>
	                            <span>內容審核</span>
	                            <input type="checkbox" id="verify-teacher" class="dis-n identityState" name="content_audit" th:checked="${account.content_audit}=='0'?'false':'true'">
	                        </label>
	                    </div>
	                    <div class="principalBlock" th:classappend="${account.position}=='1' ? 'dis-n'"><span class="required">*</span>監督範圍</div>
	                    <div class="basic-h principalBlock" th:classappend="${account.position}=='1' ? 'dis-n'">
	                    	<input type="hidden" id="educationOption" th:value="${educationStr}" />
	                        <label class="les-labelBlock" th:for="${education.name}" th:each="education:${educationList}">
	                            <div class="checkbox-square" th:id="'eduAct'+${education.id}"></div>
	                            <span>[[${education.name}]]</span>
	                            <input type="checkbox" th:id="${education.name}" class="dis-n schoolType" name="education" th:value="${education.id}">
	                        </label>
	                    </div>
	                    <div class="principalBlock" th:classappend="${account.position}=='1' ? 'dis-n'"></div>
		                    <div class="basic-h principalBlock" th:classappend="${account.position}=='1' ? 'dis-n'">
		                    	<input type="hidden" id="subjectOption" th:value="${subjectStr}" />
		                        <label class="les-labelBlock" th:for="${subject.name}" th:each="subject:${subjectList}">
		                            <div class="checkbox-square" th:id="'subjectAct'+${subject.id}"></div>
		                            <span>[[${subject.name}]]</span>
		                            <input type="checkbox" th:id="${subject.name}" class="dis-n subject" name="subject" th:value="${subject.id}">
		                        </label>
		                    </div>
	                    <div><span class="required">*</span>服務學校</div>
	                    <div>
	                        <select id="select-school" class="custom-select" th:field="*{school_master_id}">
	                            <option value="0">請選擇學校</option>
	                            <option th:each="schoolMaster:${schoolMasterList}" th:value="${schoolMaster.ID}" th:text="${schoolMaster.NAME+' - '+schoolMaster.ADDRESS}"></option>
	                        </select>
	                    </div>
	                    <div><span class="required">*</span>匯款銀行</div>
	                    <div>
	                        <div class="v-center">
	                            <div>
	                                <p class="editOldData">銀行代碼：[[${account.bank}]]</p>
	                                <p class="editOldData">分行代碼：[[${account.branch}]]</p>
	                                <p class="editOldData">匯款帳號：[[${account.remittance_account}]]</p>
	                            </div>
	                            <div>
	                                <p class="editNewData bankNum"></p>
	                                <p class="editNewData subBankNum"></p>
	                                <p class="editNewData accountNum"></p>
	                            </div> 
	                        </div>                         
	                        <button class="btn-openLightBox" data-lb="edit-teacherBank" type="button">更改匯款資訊</button>
	                    </div>
	                    <div><span class="required">*</span>戶籍地址</div>
	                    <div class="address-block">
	                        <div class="address-text">
	                            <p>[[${account.census_zip}]] [[${account.census_city}]][[${account.census_area}]][[${account.census_road}]]</p>
	                            <label for="editResidenceAddress">
	                                <div class="checkbox-square"></div>
	                                <span>修改</span>
	                                <input type="checkbox" id="editResidenceAddress" class="dis-n">
	                            </label>
	                        </div>
	                        <div class="wrap dis-n">
	                            <input type="text" placeholder="郵遞區號" id="residencezip" disabled>
	                            <input type="hidden" id="c_city" th:field="*{census_city}">
	                            <input type="hidden" id="c_area" th:field="*{census_area}">
                        		<input type="hidden" id="census_road" th:field="*{census_road}" >
                        		<input type="hidden" id="census_zip" th:field="*{census_zip}" >
	                            <select class="address selectCity" id="census_city">
	                                <option value="">請選擇縣市</option>
		                            <option value="臺北市">臺北市</option>
									<option value="基隆市">基隆市</option>
									<option value="新北市">新北市</option>
									<option value="連江縣">連江縣</option>
									<option value="宜蘭縣">宜蘭縣</option>
									<option value="釣魚臺">釣魚臺</option>
									<option value="新竹市">新竹市</option>
									<option value="新竹縣">新竹縣</option>
									<option value="桃園市">桃園市</option>
									<option value="苗栗縣">苗栗縣</option>
									<option value="臺中市">臺中市</option>
									<option value="彰化縣">彰化縣</option>
									<option value="南投縣">南投縣</option>
									<option value="嘉義市">嘉義市</option>
									<option value="嘉義縣">嘉義縣</option>
									<option value="雲林縣">雲林縣</option>
									<option value="臺南市">臺南市</option>
									<option value="高雄市">高雄市</option>
									<option value="南海島">南海島</option>
									<option value="澎湖縣">澎湖縣</option>
									<option value="金門縣">金門縣</option>
									<option value="屏東縣">屏東縣</option>
									<option value="臺東縣">臺東縣</option>
									<option value="花蓮縣">花蓮縣</option>
	                            </select>
	                            <select class="address selectResidenceArea" id="census_area">
	                                <option value="0">請選擇鄉鎮市區</option>
	                            </select>
	                            <input type="text" placeholder="請輸入戶籍地址" id="residenceAddress">
	                            <div class="customselect-residence-block">
	                                <select id="residenceSelectZip" class="custom-select">
	                                    <option value="0">請選擇對應郵遞區號</option>
	                                </select>
	                            </div> 
	                        </div>                                               
	                    </div>
	                    <div><span class="required">*</span>通訊地址</div>
	                    <div class="address-block">
	                        <div class="address-text">
	                            <p>[[${account.address_zip}]] [[${account.address_city}]][[${account.address_area}]][[${account.address_road}]]</p>
	                            <label for="editAddress">
	                                <div class="checkbox-square"></div>
	                                <span>修改</span>
	                                <input type="checkbox" id="editAddress" class="dis-n">
	                            </label>
	                        </div>
	                        <div class="wrap dis-n">
	                            <div class="sameAbove-block">
	                                <label for="sameAbove">
	                                    <div class="checkbox-square"></div>
	                                    <span>同戶籍地址</span>
	                                    <input type="checkbox" id="sameAbove" class="dis-n">
	                                </label> 
	                            </div>
	                            <input type="text" placeholder="郵遞區號" id="zip" disabled>
	                            <input type="hidden" id="address_city" th:field="*{address_city}">
	                            <input type="hidden" id="address_area" th:field="*{address_area}">
	                            <input type="hidden" id="address_road" th:field="*{address_road}">
                       			<input type="hidden" id="address_zip" th:field="*{address_zip}">
	                            <select class="address selectCity" id="city">
	                                <option value="">請選擇縣市</option>
		                            <option value="臺北市">臺北市</option>
									<option value="基隆市">基隆市</option>
									<option value="新北市">新北市</option>
									<option value="連江縣">連江縣</option>
									<option value="宜蘭縣">宜蘭縣</option>
									<option value="釣魚臺">釣魚臺</option>
									<option value="新竹市">新竹市</option>
									<option value="新竹縣">新竹縣</option>
									<option value="桃園市">桃園市</option>
									<option value="苗栗縣">苗栗縣</option>
									<option value="臺中市">臺中市</option>
									<option value="彰化縣">彰化縣</option>
									<option value="南投縣">南投縣</option>
									<option value="嘉義市">嘉義市</option>
									<option value="嘉義縣">嘉義縣</option>
									<option value="雲林縣">雲林縣</option>
									<option value="臺南市">臺南市</option>
									<option value="高雄市">高雄市</option>
									<option value="南海島">南海島</option>
									<option value="澎湖縣">澎湖縣</option>
									<option value="金門縣">金門縣</option>
									<option value="屏東縣">屏東縣</option>
									<option value="臺東縣">臺東縣</option>
									<option value="花蓮縣">花蓮縣</option>
	                            </select>
	                            <select class="address selectArea" id="area">
	                                <option value="0">請選擇鄉鎮市區</option>
	                            </select>
	                            <input type="text" placeholder="請輸入通訊地址" id="address">   
	                            <div class="customselect-block">
	                                <select id="selectZip" class="custom-select">
	                                    <option value="0">請選擇對應郵遞區號</option>
	                                </select>   
	                            </div>  
	                        </div>                                                                                       
	                    </div>
	                </div>
	                <button class="btn-submit" data-type="teacherEdit" type="button">送出</button>
	            </div>                
	        </div>
	    </section>    
	    <!-- 燈箱背景 -->
	    <section class="lightBoxBG dis-n"></section>    
	    <!-- 更改姓名燈箱 -->
	    <section class="lightBoxContent edit-teacherName-lightBox dis-n">        
	        <button class="btn-closeLightBox" data-lb="edit-teacherName" type="button"><i class="fas fa-times-circle fa-lg"></i></button>
	        <h3 class="title">更改姓名</h3>
	        <hr>
	        <div class="container">
	            <p>[[${account.name}]]</p>
	            <input type="text" placeholder="請輸入真實姓名" id="teacherName" th:field="*{name}">         
	        </div>
	        <button class="editNewDataBtn btn-sm" data-newdata="edit-teacherName" type="button">確定</button>
	    </section>
	    <!-- 更改身份證字號燈箱 -->
	    <section class="lightBoxContent edit-teacherID-lightBox dis-n">        
	        <button class="btn-closeLightBox" data-lb="edit-teacherID" type="button"><i class="fas fa-times-circle fa-lg"></i></button>
	        <h3 class="title">更改身份證字號</h3>
	        <hr>
	        <div class="container">
	            <p>[[${account.id_no}]]</p>
	            <input type="text" placeholder="請輸入身份證字號" id="teacherID" th:field="*{id_no}">         
	        </div>
	        <button class="editNewDataBtn btn-sm" data-newdata="edit-teacherID" type="button">確定</button>
	    </section>
	    <!-- 更改匯款資訊燈箱 -->
	    <section class="lightBoxContent edit-teacherBank-lightBox dis-n">        
	        <button class="btn-closeLightBox" data-lb="edit-teacherBank" type="button"><i class="fas fa-times-circle fa-lg"></i></button>
	        <h3 class="title">更改匯款資訊</h3>
	        <hr>
	        <div class="container">
	            <p>銀行代碼：[[${account.bank}]]</p>
	            <input type="text" placeholder="請輸入銀行代碼" id="bankNum" th:field="*{bank}">
	            <p>分行代碼：[[${account.branch}]]</p>
	            <input type="text" placeholder="請輸入分行代碼" id="subBankNum" th:field="*{branch}">
	            <p>匯款帳號：[[${account.remittance_account}]]</p>
	            <input type="text" placeholder="請輸入匯款帳號" id="accountNum" th:field="*{remittance_account}">
	        </div>
	        <button class="editNewDataBtn btn-sm" data-newdata="edit-teacherBank" type="button">確定</button>
	    </section>
    </form>
    <!-- 警告燈箱 -->
    <section class="lightBoxAlert dis-n">        
        <!-- <button class="btn-closeLightBox" data-lb="lessonOutline"><i class="fas fa-times-circle fa-lg"></i></button> -->        
        <div class="container">
            <div>尚未填寫</div>
        </div>
        <button class="btn-closelightBoxAlert btn-sm" type="button">確定</button>
    </section>

    <div th:include="front/load/js :: js"></div>
    <script th:src="@{/front/js/teacher.js}"></script>
	<script>
		$(function(){
			$("#content").click(function(){
				$("#mainForm").attr("action", "/teacher/content");
				$("#mainForm").submit();
			})
			//學制自動選取
			if($("#educationOption").val() != null) {
				var education = new Array();
				education = $("#educationOption").val().split(",");
				$("input[name='education']").each(function(){
					for(var i=0; i<education.length; i++) {
						if($(this).val() == education[i]) {
							$(this).attr("checked", true);
							$("#eduAct"+$(this).val()).addClass("active");
						}
					}
				});
			}
			//學科自動選取
			if($("#subjectOption").val() != null) {
				var field = new Array();
				field = $("#subjectOption").val().split(",");
				$("input[name='subject']").each(function(){
					for(var i=0; i<field.length; i++) {
						if($(this).val() == field[i]) {
							$(this).attr("checked", true);
							$("#subjectAct"+$(this).val()).addClass("active");
						}
					}
				});
			}
		})
		
		$("#census_city").on('change',function(){ //點擊戶籍地址City
			$("#census_area").empty();
	        if($("#census_city").val() != ""){
	        	$.getJSON('/front/json/area.json', function (obj) {
	    			var area = obj.filter(function(item, index, array){
	    			  return (item.City.indexOf($("#census_city").val()) >= 0 );       
	    			});
	    			var str = "<option value=''>請選擇鄉鎮市區</option>";
	    			if(area.length > 0){
	    				for(var i =0;i < area.length;i++){
	    					str += "<option value='"+area[i].Area+"'>"+area[i].Area+"</option>";
	    				}
	    			}
	    			$("#census_area").append(str);
	    		});
	        }
	    });

		$("#census_area").on('change',function(){ //點擊戶籍地址Area
			$("#residenceSelectZip").empty();
	        if($("#census_city").val() != "" && $("#census_area").val() != "" ){
				$(this).siblings(".customselect-residence-block").html(' ');
	        	
				$.getJSON('/front/json/allcity.json', function (obj) {
	    			var road = obj.filter(function(item, index, array){
	    			  return (item.City.indexOf($("#census_city").val()) >= 0 && item.Area.indexOf($("#census_area").val()) >= 0);       
	    			});
	    			console.log(road);
	    			var str = "<option value='0'>請選擇對應郵遞區號</option>";
	    			if(road.length > 0){
	    				for(var i =0;i < road.length;i++){
	    					str += "<option value='"+road[i].Zip5+road[i].Area+road[i].Road+road[i].Scope+"'>"+road[i].Zip5+road[i].Area+road[i].Road+road[i].Scope+"</option>";
	    				}
	    			}								
	    			//$("#residenceSelectZip").append(str);
	    			$(".customselect-residence-block").html("<select id='residenceSelectZip' class='custom-select'>"+str+"</select>")
	    			$("#residenceSelectZip").customselect();
				});        	
	        }else{
	        	alert("請選擇縣市及鄉鎮市區");
	        }
	    });
	
		$("#city").on('change',function(){ //點擊通訊地址City
			$("#area").empty();
	        if($("#city").val() != ""){
	        	$.getJSON('/front/json/area.json', function (obj) {
	    			var area = obj.filter(function(item, index, array){
	    			  return (item.City.indexOf($("#city").val()) >= 0 );       
	    			});
	    			var str = "<option value=''>請選擇鄉鎮市區</option>";
	    			if(area.length > 0){
	    				for(var i =0;i < area.length;i++){
	    					str += "<option value='"+area[i].Area+"'>"+area[i].Area+"</option>";
	    				}
	    			}
	    			$("#area").append(str);
	    		});
	        }
	    });
	
		$("#area").on('change',function(){ //點擊戶籍地址Area
			$("#selectZip").empty();
	        if($("#city").val() != "" && $("#area").val() != "" ){
				$(this).siblings(".customselect-block").html(' ');
	        	
				$.getJSON('/front/json/allcity.json', function (obj) {
	    			var road = obj.filter(function(item, index, array){
	    			  return (item.City.indexOf($("#city").val()) >= 0 && item.Area.indexOf($("#area").val()) >= 0);       
	    			});
	    			var str = "<option value='0'>請選擇對應郵遞區號</option>";
	    			if(road.length > 0){
	    				for(var i =0;i < road.length;i++){
	    					str += "<option value='"+road[i].Zip5+road[i].Area+road[i].Road+road[i].Scope+"'>"+road[i].Zip5+road[i].Area+road[i].Road+road[i].Scope+"</option>";
	    				}
	    			}								
	    			$(".customselect-block").html("<select id='selectZip' class='custom-select'>"+str+"</select>")
	    			$("#selectZip").customselect();
				});        	
	
	        }else{
	        	alert("請選擇縣市及鄉鎮市區");
	        }
	    });
	</script>
</body>
</html>