<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>素養教案與命題管理系統 - 老師列表</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/reset.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/all.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/fontawesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/jquery-customselect.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/front/css/main.css}">
</head>
<body class="style-admin">    
    <section class="header-content" th:include="front/load/header :: header">&nbsp;</section>
    <form id="mainForm" method="POST" th:object="${account}">
		<input type="hidden" id="id" th:field="*{id}" />
		<input type="hidden" id="page" th:field="*{page}" />
		<input type="hidden" id="totalPage" th:field="*{total_page}" />
		<input type="hidden" id="pageCount" th:field="*{page_count}" />
	
    <section class="main-content">
        <div class="fixed-width">
            <div class="topWrap">
                <div class="breadcrumb">
                    <a href="/">首頁</a>
                    <i>/</i>
                    <a href="/teacher">老師管理</a>
                    <i>/</i>
                    <a href="/teacher">老師列表</a>
                </div>
                <div>
                    <button class="btn-mdSolid btnDownFile" data-btntype="exampleTeacherList" type="button">範例下載</button>
                    <button class="btn-mdSolid btn-openLightBox" data-lb="teacherImportData" type="button">資料匯入</button>
                </div>
            </div> 
            <div class="list-content">
            	<h3>老師列表</h3>
				 <!-- 組長、校長身份的「審核區塊」 -->
                <div class="verify-block" th:if="${accountSession.level == '6'}">
                    <button class="btn-openArea" type="button">待審核<i class="fas fa-angle-up"></i></button>
                    <div class="verify-list">
                        <div class="grid teacherList-principal-verifyGrid grid-title">
                            <div>創作教師</div>
                            <div>審議委員</div>
                            <div>學制</div>
                            <div>學科</div>
                            <div>姓名</div>
                            <div>電子信箱</div>
                            <div>手機市話</div>
                            <div>服務學校</div>
                            <div>詳細資料</div>
                            <div>審核</div>
                        </div>
                        <div class="overflow-auto">
                            <div class="grid teacherList-principal-verifyGrid" th:each="verifyList:${verifyList}">
                                <div><i class="fas fa-check" th:if="${verifyList.content_provision == 1}"></i></div>
                                <div><i class="fas fa-check" th:if="${verifyList.content_audit == 1}"></i></div>
                                <div class="listSchoolType" th:text="${verifyList.education_name}"></div>
                                <div class="listSubjectType" th:text="${verifyList.subject_name}"></div>
                                <div class="listName" th:text="${verifyList.name}"></div>
                                <div th:text="${verifyList.email}"></div>
                                <div class="list-phone">
                                    <span th:text="${verifyList.mobile_phone}"></span>
                                    <span th:text="${verifyList.telephone}"></span>
                                </div>
                                <div class="listSchool" th:text="${verifyList.school_master_name}"></div>
                                <div><a href="#" th:onclick="toContent([[${verifyList.id}]])"><i class="fas fa-lg fa-graduation-cap"></i></a></div>
                                <div><button class="btn-sm btn-openLightBox" data-lb="verify" th:data-id="${verifyList.id}" type="button" id="audit">審核</button></div><!-- data-id="放老師身分證字號" -->                            
                            </div>
                        </div><!-- overflow-auto end -->
                          
                    </div>  
                </div>
                
                <!-- 頁數 -->
                <div class="pageList-block">
                    <div>總計筆數<span>[[${account.count}]]</span>筆</div>
                    <div>每頁顯示數量
                        <select id="selectPageCount" th:field="${account.page_count}">
                        	<option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
                
                <!-- 管理者身份，組長/校長列表 -->
                <div class="list-block principal" th:if="${accountSession.level == '0'}">
                    <div class="grid teacherList-admin-principalGrid grid-title">
                        <div>學制</div>
                        <div>學科</div>
                        <div>姓名</div>
                        <div>電子信箱</div>
                        <div>手機市話</div>
                        <div>服務學校</div>
                        <div>帳號狀態</div>
                        <div>詳細資料</div>                        
                    </div>
                    <div class="grid teacherList-admin-principalGrid" th:each="list:${list}" th:if="${list != null}">
                        <div th:text="${list.education_name}"></div>
                        <div th:text="${list.subject_name}"></div>
                        <div th:text="${list.name}"></div>
                        <div th:text="${list.email}"></div>
                        <div class="list-phone">
                            <span th:text="${list.mobile_phone}"></span>
                            <span th:text="${list.telephone}"></span>
                        </div>
                        <div th:text="${list.school_master_name}"></div>
                        <div th:text="${list.status_texe}"></div>
                        <div><a href="#" th:onclick="toContent([[${list.id}]])"><i class="fas fa-lg fa-graduation-cap"></i></a></div>                        
                    </div>                                       
                </div>
                
                <!-- 管理者身份，一般教師列表 -->
                <div class="list-block teacher" th:if="${(accountSession.level == '1' || accountSession.level == '2')}">
                    <div class="grid teacherList-admin-teacherGrid grid-title">
                        <div>創作教師</div>
                        <div>審議委員</div>
                        <div>學制</div>
                        <div>學科</div>
                        <div>姓名</div>
                        <div>電子信箱</div>
                        <div>手機市話</div>
                        <div>服務學校</div>
                        <div>帳號狀態</div>
                        <div>詳細資料</div>
                        <div>新增合約</div>
                    </div>
                    <div class="grid teacherList-admin-teacherGrid" th:each="list:${list}" th:if="${list != null}">
                        <div><i class="fas fa-check" th:if="${list.content_provision == 1}"></i></div>
                        <div><i class="fas fa-check" th:if="${list.content_audit == 1}"></i></div>
                        <div th:text="${list.education_name}"></div>
                        <div th:text="${list.subject_name}"></div>
                        <div th:text="${list.name}"></div>
                        <div th:text="${list.email}"></div>
                        <div class="list-phone">
                            <span th:text="${list.mobile_phone}"></span>
                            <span th:text="${list.telephone}"></span>
                        </div>
                        <div th:text="${list.school_master_name}"></div>
                        <div th:text="${list.status_texe}"></div>
                        <div><a href="#" th:onclick="toContent([[${list.id}]])"><i class="fas fa-lg fa-graduation-cap"></i></a></div>
                        <div><a  th:onclick="toContractAdd([[${list.id}]])"><i class="fas fa-lg fa-file-alt"></i></a></div>
                    </div>                                         
                </div>
                
                <!-- 組長/校長身份，一般教師列表 -->
                <div class="list-block" th:if="${(accountSession.level == '5' || accountSession.level == '6')}">
                    <div class="grid teacherList-principal-grid grid-title">
                        <div>創作教師</div>
                        <div>審議委員</div>
                        <div>學制</div>
                        <div>學科</div>
                        <div>姓名</div>
                        <div>電子信箱</div>
                        <div>手機市話</div>
                        <div>服務學校</div>
                        <div>帳號狀態</div>
                        <div>詳細資料</div>                        
                    </div>
                    <div class="grid teacherList-principal-grid" th:each="list:${list}" th:if="${list != null}">
                        <div><i class="fas fa-check" th:if="${list.content_provision == 1}"></i></div>
                        <div><i class="fas fa-check" th:if="${list.content_audit == 1}"></i></div>
                        <div th:text="${list.education_name}"></div>
                        <div th:text="${list.subject_name}"></div>
                        <div th:text="${list.name}"></div>
                        <div th:text="${list.email}"></div>
                        <div class="list-phone">
                            <span th:text="${list.mobile_phone}"></span>
                            <span th:text="${list.telephone}"></span>
                        </div>
                        <div th:text="${list.school_master_name}"></div>
                        <div th:text="${list.status_texe}"></div>
                        <div><a href="#" th:onclick="toContent([[${list.id}]])"><i class="fas fa-lg fa-graduation-cap"></i></a></div>                        
                    </div>                                    
                </div>
                <!-- 頁碼 -->
                <div class="page-block" th:include="front/load/pages :: pages" th:if="${total_page}>1" th:with="page_length=5,page_avg=${page_length}/2"></div>
            </div>
        </div>
    </section>
    </form>
    <!-- 燈箱背景 -->
    <section class="lightBoxBG dis-n"></section>
    <!-- 資料匯入燈箱 -->
    <section class="lightBoxContent teacherImportData-lightBox dis-n">        
        <button class="btn-closeLightBox" data-lb="teacherImportData" type="button"><i class="fas fa-times-circle fa-lg"></i></button>
        <h3 class="title">資料匯入</h3>
        <hr>
        <form id="importForm" method="POST" th:object="${account}" enctype="multipart/form-data">
	        <div class="container">
<!-- 	        	<div class="select-school-box"> -->
<!-- 	                <select id="select-school" class="custom-select" th:field="*{school_master_id}"> -->
<!-- 	                    <option value="0">請選擇學校</option> -->
<!-- 	                    <option th:each="schoolMaster:${schoolMasterList}" th:value="${schoolMaster.ID}" th:text="${schoolMaster.NAME+' - '+schoolMaster.ADDRESS}"></option> -->
<!-- 	                </select> -->
<!-- 	            </div> -->
	            <label for="teacherImportFile">
	                <input type="file" class="dis-n btnFile" id="teacherImportFile" name="import" accept=".pdf,.ppt,.doc,.docx,.xls,.xlsx" value="" data-text="teacherImportFileText">
	                <span class="btn-file">選擇檔案</span>
	            </label>                        
	            <span class="memo">註：僅接受副檔名為.xls</span>
	            <p class="teacherImportFileText"></p>
	        </div>
	        <button class="createTagBtn btn-sm" data-tag="teacherImportData" type="button" onclick="importExcel()">確定</button>
        </form>
    </section>
    <!-- 審核燈箱 -->
    <section class="lightBoxContent verify-lightBox dis-n">        
        <button class="btn-closeLightBox" data-lb="verify"><i class="fas fa-times-circle fa-lg"></i></button>
        <h3 class="title">審核</h3>
        <hr>
        <form id="auditForm" method="POST" th:object="${account}">
        	<input type="hidden" id="audit_id" name="id" />
        <div class="container">
            <div>
                <div>審核</div>
                <div>
                    <label for="pass">
                        <div class="radio-circle"></div>
                        <span>通過</span>
                        <input type="radio" class="dis-n" id="pass" name="status" value="1">
                    </label>
                    <label for="failed">
                        <div class="radio-circle"></div>
                        <span>不通過</span>
                        <input type="radio" class="dis-n" id="failed" name="status" value="0">
                    </label>
                </div>
            </div>
        </div>
        <button class="btn-sm" type="button" id="auditSend">確定</button>
        </form>
    </section>

    <div th:include="front/load/js :: js"></div>  
    <script th:src="@{/front/js/teacher.js}"></script>
	<script>
		
		$(function(){
			
			$("#changePage").change(function(){
				var total_page = $("#changePage").attr("data-totalPage");
				var page = parseInt($("#changePage").val())<1 ? 1 : (parseInt($("#changePage").val())>total_page?total_page:$("#changePage").val());
				toList(page);
			});
			$("#selectPageCount").change(function(){
				$("#pageCount").val($("#selectPageCount").val());
				var page = 1;
				toList(page);
			});
			$("#audit").click(function(){
				$("#audit_id").val($(this).attr("data-id"));
			});
			$("#auditSend").click(function(){
				$("#auditForm").attr("action", "/teacher/audit");
				$("#auditForm").submit();
			});
		})
	
		function toList(page) {
			
			if($("input[name='content_provision']").prop("checked")){
				$("input[name='content_provision']").val("1");
			}else{
				$("input[name='content_provision']").val("0");
			}
			
			if($("input[name='content_audit']").prop("checked")){
				$("input[name='content_audit']").val("1");
			}else{
				$("input[name='content_audit']").val("0");
			}
			
			$("#page").val(page);
			$("#mainForm").attr("action", "/teacher");
			$("#mainForm").submit();
			
		}
		
		function importExcel(){
			$("#importForm").attr("action", "/teacher/import/excel");
			$("#importForm").submit();
		}
		
		function toContractAdd(id, name) {
			$("#teacher_id").val(id);
			$("#tkb_partyb").val(name);
			$("#csofe_partyb").val(name);
			$("#contractForm").attr("action", "/contract/teacher/add");
			$("#contractForm").submit();
		}
		
		function toContent(id) {
			
			$("#id").val(id);
			$("#mainForm").attr("action", "/teacher/content");
			$("#mainForm").submit();
			
		}
	</script>
</body>
</html>