<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/load/css :: css"></head>
<head>
	<title>素養教案與命題管理系統 - 詳細資料</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body th:class="${accountSession.level<='2' ? 'style-admin' : accountSession.level=='3' ? 'style-content-teacher' : 'style-verify-teacher'}">    
    <section class="header-content" th:include="front/load/header :: header">&nbsp;</section>
    <form id="mainForm" method="POST" th:object="${account}" action="/teacher/edit/password">
		<input type="hidden" id="id" th:field="*{id}" />
		<input type="hidden" id="newPassword" th:field="*{password}" />
	</form>
    <section class="main-content">
        <div class="fixed-width">
            <div class="breadcrumb">
                <a href="/">首頁</a>
                <i>/</i>
                <a href="#">會員中心</a>
            </div>
            <div class="create-content contentPage">
                <h3>會員詳細資料</h3>
                <div class="create-grid">
                    <div>姓名</div>
                    <div>[[${data.name}]]</div>
                    <div>身份證字號</div>
                    <div>[[${data.id_no}]]</div>
                    <div>密碼</div>
                    <div>
                        <p id="passwordText">****</p>
                        <button class="btn-openLightBox" data-lb="edit-password" type="button">修改密碼</button>
                    </div>
                    <div>電子信箱</div>
                    <div>[[${data.email}]]</div>
                    <div>手機</div>
                    <div>[[${data.mobile_phone}]]</div>
                    <div>市話</div>
                    <div>[[${data.telephone}]]</div>
                    <div>學制</div>
                    <div>[[${data.education_name}]]</div>
                    <div>學科</div>
                    <div>[[${data.subject_name}]]</div>
                    <div>老師身份</div>
                    <div th:if="${data.position == '1'}">一般教師</div>
                    <div th:if="${data.position == '2'}">組長</div>
                    <div th:if="${data.position == '3'}">校長</div>
                    <div th:if="${data.position == '1'}">系統身份</div>
                    <div th:if="${data.position == '1'}">
                    	<p><span th:if="${data.content_provision == '1'}">創作教師</span></p>
                    	<p><span th:if="${data.content_audit == '1'}">審議委員</span></p>
                    </div>
                    <div th:if="${data.position != '1'}">監督範圍</div>
                    <div th:if="${data.position != '1'}">
                        <p>學制：<span>[[${educationStr}]]</span> </p>
                        <p>學科：<span>[[${subjectStr}]]</span> </p>
                    </div>
                    <div>服務學校</div>
                    <div>台灣大學</div>
                    <div>匯款銀行</div>
                    <div>
                        <p>銀行代碼：<span>[[${data.bank}]]</span></p>
                        <p>分行代碼：<span>[[${data.branch}]]</span></p>
                        <p>匯款帳號：<span>[[${data.remittance_account}]]</span></p>                        
                    </div>                    
                    <div>戶籍地址</div>
                    <div>[[${data.census_zip}]][[${data.census_city}]][[${data.census_area}]][[${data.census_road}]]</div>
                    <div>通訊地址</div>
                    <div>[[${data.address_zip}]][[${data.address_city}]][[${data.address_area}]][[${data.address_road}]]</div>
                </div>
                <p class="member-memo">若須修改基本資料，請聯繫管理者。<button class="btn-sm btnOpenMail">點我寄信</button></p>
            </div>              
        </div>
    </section>    
	
	 <!-- 燈箱背景 -->
     <section class="lightBoxBG dis-n"></section>    
     <!-- 更改姓名燈箱 -->
     <section class="lightBoxContent edit-password-lightBox dis-n">        
         <button class="btn-closeLightBox" data-lb="edit-password"><i class="fas fa-times-circle fa-lg"></i></button>
         <h3 class="title">修改密碼</h3>
         <hr>
         <div class="container">
             <p>新密碼</p>
             <input type="password" placeholder="請輸入密碼" id="password">
             <p>確認新密碼</p>
             <input type="password" placeholder="請再次輸入新密碼" id="check-password">
         </div>
         <button class="editNewDataBtn btn-sm" data-newdata="edit-password">確定</button>
     </section>
     <!-- 警告燈箱 -->
    <section class="lightBoxAlert dis-n">        
        <!-- <button class="btn-closeLightBox" data-lb="lessonOutline"><i class="fas fa-times-circle fa-lg"></i></button> -->        
        <div class="container">
            <div>尚未填寫</div>
        </div>
        <button class="btn-closelightBoxAlert btn-sm">確定</button>
    </section>
	
    <div th:include="front/load/js :: js"></div>
    <script th:src="@{/front/js/teacher.js}"></script>
	<script>
		$(function(){
			//返回列表
			$("#back").click(function(){
				$("#mainForm").attr("action", "/teacher");
				$("#mainForm").submit();
			})
			//編輯
			$("#edit").click(function(){
				$("#mainForm").attr("action", "/teacher/edit");
				$("#mainForm").submit();
			})
		})
	</script>
</body>
</html>