<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="front/load/css :: css"></head>
<head>
	<title>素養教案與命題管理系統 - 建立老師</title>
	<meta charset="utf-8">
</head>
<body class="style-admin">
	<form class="form-horizontal" role="form" id="mainForm" method="POST" th:object="${account}" enctype="multipart/form-data">
	<section class="header-content">
        <div class="fixed-width header">
            <div class="register-logo">素養教案與命題管理平台</div>
        </div>
    </section>
    <section class="main-content">
        <div class="fixed-width">
            <div class="create-content teacher">
                <h3>註冊加入團隊</h3>
                <div class="create-grid">
                    <div><span class="required">*</span>真實姓名</div>
                    <div>
                        <input type="text" placeholder="請輸入姓名" id="teacherName" th:field="*{name}">
                    </div>
                    <div><span class="required">*</span>身份證字號</div>
                    <div>
                        <input type="text" placeholder="請輸入身份證字號" id="teacherID" th:field="*{id_no}">
                        <span class="memo">註：將作為使用者的帳號，後四碼為預設密碼，請正確填寫</span>
                    </div>
                    <div><span class="required">*</span>電子信箱</div>
                    <div>
                        <input type="text" placeholder="請輸入電子信箱" id="teacherEmail" th:field="*{email}">
                        <span class="memo">註：將作為通知用主要管道，請正確填寫</span>
                    </div>
                    <div><span class="required">*</span>手機</div>
                    <div>
                        <input type="text" placeholder="請輸入手機號碼" id="teacherPhone" th:field="*{mobile_phone}">
                    </div>
                    <div><span class="required">*</span>市話</div>
                    <div>
                        <input type="text" placeholder="請輸入市話號碼" id="teacherTel" th:field="*{telephone}">
                        <span class="memo">範例：02-23315551</span>
                    </div>
                    <div><span class="required">*</span>學制</div>
                    <div>
                        <select id="schoolType" th:field="*{education_id}">
                            <option value="0">請選擇學制</option>
                            <option th:each="education:${educationList}" th:value="${education.ID}" th:text="${education.NAME}"></option>
                        </select>
                    </div>
                    <div><span class="required">*</span>學科</div>
                    <div>
                        <select id="specialSkill" th:field="*{subject_id}">
                            <option value="0">請選擇學科</option>
                            <option th:each="subject:${subjectList}" th:value="${subject.ID}" th:text="${subject.NAME}"></option>
                        </select>
                        <span class="memo">註：將作為內容審核的選擇基準</span>
                    </div>
                    <div><span class="required">*</span>系統身份</div>
                    <div class="basic-h">
                        <label for="content-teacher">
                            <div class="checkbox-square"></div>
                            <span>創作教師</span>
                            <input type="checkbox" id="content-teacher" class="dis-n identityState" name="content_provision">
                        </label>
                        <label for="verify-teacher">
                            <div class="checkbox-square"></div>
                            <span>審議委員</span>
                            <input type="checkbox" id="verify-teacher" class="dis-n identityState" name="content_audit">
                        </label>
                    </div>
                    <div class="dis-n principalBlock"><span class="required">*</span>監督範圍</div>
                    <div class="basic-h dis-n principalBlock">
                        <label class="les-labelBlock" th:for="${education.name}" th:each="education:${educationList}">
                            <div class="checkbox-square"></div>
                            <span>[[${education.name}]]</span>
                            <input type="checkbox" th:id="${education.name}" class="dis-n schoolType" name="education" th:value="${education.id}">
                        </label>
                    </div>
                    <div class="dis-n principalBlock"></div>
                    <div class="basic-h dis-n principalBlock">
                        <label class="les-labelBlock" th:for="${subject.name}" th:each="subject:${subjectList}">
                            <div class="checkbox-square"></div>
                            <span>[[${subject.name}]]</span>
                            <input type="checkbox" th:id="${subject.name}" class="dis-n specialSkill" name="subject" th:value="${subject.id}">
                        </label>
                    </div>
                    <div><span class="required">*</span>服務學校</div>
                    <div>
                        <select id="select-school" class="custom-select" th:field="*{school_master_id}">
                            <option value="0">請選擇學校</option>
                            <option th:each="schoolMaster:${schoolMasterList}" th:value="${schoolMaster.ID}" th:text="${schoolMaster.NAME+' - '+schoolMaster.ADDRESS}"></option>
                        </select>
                    </div>
                    <div><span class="required">*</span>匯款銀行</div>
                    <div class="display-spaBetween">
                        <input type="text" placeholder="請輸入匯款銀行代碼" id="bankNum" th:field="*{bank}">
                        <span class="bank-web">分行<input type="text" placeholder="請輸入分行代碼" id="subBankNum" th:field="*{branch}"></span>
                    </div>
<!--                     <div class="bank-mobile"><span class="required">*</span>分行</div> -->
<!--                     <div class="bank-mobile"> -->
<!--                         <input type="text" placeholder="請輸入分行代碼" id="subBankNum" th:field="*{branch}">                             -->
<!--                     </div> -->
                    <div><span class="required">*</span>匯款帳號</div>
                    <div>
                        <input type="text" placeholder="請輸入匯款帳號" id="accountNum" th:field="*{remittance_account}">
                    </div>
                    
                     <div><span class="required">*</span>戶籍地址</div>
                    <div class="address-block">
                        <input type="text" placeholder="郵遞區號" id="residencezip" disabled>
                        <input type="hidden" id="c_area" th:field="*{census_area}">
                        <input type="hidden" id="census_zip" th:field="*{census_zip}">
                        <select class="address selectCity" id="census_city" th:field="*{census_city}">
                            <option value="">請選擇縣市</option>
                            <option value="臺北市">臺北市</option>
							<option value="基隆市">基隆市</option>
							<option value="新北市">新北市</option>
							<option value="連江縣">連江縣</option>
							<option value="宜蘭縣">宜蘭縣</option>
							<option value="釣魚臺">釣魚臺</option>
							<option value="新竹市">新竹市</option>
							<option value="新竹縣">新竹縣</option>
							<option value="桃園市">桃園市</option>
							<option value="苗栗縣">苗栗縣</option>
							<option value="臺中市">臺中市</option>
							<option value="彰化縣">彰化縣</option>
							<option value="南投縣">南投縣</option>
							<option value="嘉義市">嘉義市</option>
							<option value="嘉義縣">嘉義縣</option>
							<option value="雲林縣">雲林縣</option>
							<option value="臺南市">臺南市</option>
							<option value="高雄市">高雄市</option>
							<option value="南海島">南海島</option>
							<option value="澎湖縣">澎湖縣</option>
							<option value="金門縣">金門縣</option>
							<option value="屏東縣">屏東縣</option>
							<option value="臺東縣">臺東縣</option>
							<option value="花蓮縣">花蓮縣</option>
                        </select>
                        <select class="address selectArea" id="census_area">
                            <option value="0">請選擇鄉鎮市區</option>
                        </select>
                        <input type="text" placeholder="請輸入戶籍地址" id="residenceAddress" th:field="*{census_road}">
                        <div class="customselect-residence-block">
	                        <select id="residenceSelectZip" class="custom-select" >
	                            <option value="">請選擇對應郵遞區號</option>
	                        </select>
                        </div>                        
                    </div>
                    <div><span class="required">*</span>通訊地址</div>
                    <div class="address-block">
                        <div class="sameAbove-block">
                            <label for="sameAbove">
                                <div class="checkbox-square"></div>
                                <span>同上</span>
                                <input type="checkbox" id="sameAbove" class="dis-n">
                            </label> 
                        </div>
                        <input type="text" placeholder="郵遞區號" id="zip" disabled>
                        <input type="hidden" id="address_area" th:field="*{address_area}">
                        <input type="hidden" id="address_zip" th:field="*{address_zip}">
                        <select class="address selectCity" id="city" th:field="*{address_city}">
                            <option value="">請選擇縣市</option>
                            <option value="臺北市">臺北市</option>
							<option value="基隆市">基隆市</option>
							<option value="新北市">新北市</option>
							<option value="連江縣">連江縣</option>
							<option value="宜蘭縣">宜蘭縣</option>
							<option value="釣魚臺">釣魚臺</option>
							<option value="新竹市">新竹市</option>
							<option value="新竹縣">新竹縣</option>
							<option value="桃園市">桃園市</option>
							<option value="苗栗縣">苗栗縣</option>
							<option value="臺中市">臺中市</option>
							<option value="彰化縣">彰化縣</option>
							<option value="南投縣">南投縣</option>
							<option value="嘉義市">嘉義市</option>
							<option value="嘉義縣">嘉義縣</option>
							<option value="雲林縣">雲林縣</option>
							<option value="臺南市">臺南市</option>
							<option value="高雄市">高雄市</option>
							<option value="南海島">南海島</option>
							<option value="澎湖縣">澎湖縣</option>
							<option value="金門縣">金門縣</option>
							<option value="屏東縣">屏東縣</option>
							<option value="臺東縣">臺東縣</option>
							<option value="花蓮縣">花蓮縣</option>
                        </select>
                        <select class="address selectArea" id="area">
                            <option value="">請選擇鄉鎮市區</option>
                        </select>
                        <input type="text" placeholder="請輸入通訊地址" id="address" th:field="*{address_road}">
                        <div class="customselect-block">
                        	<select id="selectZip" class="custom-select" >
                            	<option value="">請選擇對應郵遞區號</option>
                        	</select>
                        </div>                                               
                    </div>
                </div>
                <button class="btn-submit" type="button" data-type="register">送出</button>
            </div>                
        </div>
    </section>

    
    <!-- 燈箱背景 -->
    <section class="lightBoxBG dis-n"></section>
    <!-- 警告燈箱 -->
    <section class="lightBoxAlert dis-n">        
        <!-- <button class="btn-closeLightBox" data-lb="lessonOutline"><i class="fas fa-times-circle fa-lg"></i></button> -->        
        <div class="container">
            <div>尚未填寫</div>
        </div>
        <button class="btn-closelightBoxAlert btn-sm" type="button">確定</button>
    </section>
 </form>

    <div th:include="front/load/js :: js"></div>
    <script th:src="@{/front/js/teacher.js}"></script> 
	<script>
	
	$("#census_city").on('change',function(){ //點擊戶籍地址City
		$("#census_area").empty();
        if($("#census_city").val() != ""){
        	$.getJSON('/front/json/area.json', function (obj) {
    			var area = obj.filter(function(item, index, array){
    			  return (item.City.indexOf($("#census_city").val()) >= 0 );       
    			});
    			var str = "<option value=''>請選擇鄉鎮市區</option>";
    			if(area.length > 0){
    				for(var i =0;i < area.length;i++){
    					str += "<option value='"+area[i].Area+"'>"+area[i].Area+"</option>";
    				}
    			}
    			$("#census_area").append(str);
    		});
        }
    });

	$("#census_area").on('change',function(){ //點擊戶籍地址Area
		$("#residenceSelectZip").empty();
        if($("#census_city").val() != "" && $("#census_area").val() != "" ){
			$(this).siblings(".customselect-residence-block").html(' ');
        	
			$.getJSON('/front/json/allcity.json', function (obj) {
    			var road = obj.filter(function(item, index, array){
    			  return (item.City.indexOf($("#census_city").val()) >= 0 && item.Area.indexOf($("#census_area").val()) >= 0);       
    			});
    			console.log(road);
    			var str = "<option value='0'>請選擇對應郵遞區號</option>";
    			if(road.length > 0){
    				for(var i =0;i < road.length;i++){
    					str += "<option value='"+road[i].Zip5+"'>"+road[i].Zip5+road[i].Area+road[i].Road+road[i].Scope+"</option>";
    				}
    			}								
    			//$("#residenceSelectZip").append(str);
    			$(".customselect-residence-block").html("<select id='residenceSelectZip' class='custom-select'>"+str+"</select>")
    			$("#residenceSelectZip").customselect();
			});        	
        	
// 			$("#residenceSelectZip").customselect();
        }else{
        	alert("請選擇縣市及鄉鎮市區");
        }
    });

	$("#city").on('change',function(){ //點擊通訊地址City
		$("#area").empty();
        if($("#city").val() != ""){
        	$.getJSON('/front/json/area.json', function (obj) {
    			var area = obj.filter(function(item, index, array){
    			  return (item.City.indexOf($("#city").val()) >= 0 );       
    			});
    			var str = "<option value=''>請選擇鄉鎮市區</option>";
    			if(area.length > 0){
    				for(var i =0;i < area.length;i++){
    					str += "<option value='"+area[i].Area+"'>"+area[i].Area+"</option>";
    				}
    			}
    			$("#area").append(str);
    		});
        }
    });

	$("#area").on('change',function(){ //點擊戶籍地址Area
		$("#selectZip").empty();
        if($("#city").val() != "" && $("#area").val() != "" ){
			$(this).siblings(".customselect-block").html(' ');
        	
			$.getJSON('/front/json/allcity.json', function (obj) {
    			var road = obj.filter(function(item, index, array){
    			  return (item.City.indexOf($("#city").val()) >= 0 && item.Area.indexOf($("#area").val()) >= 0);       
    			});
    			var str = "<option value='0'>請選擇對應郵遞區號</option>";
    			if(road.length > 0){
    				for(var i =0;i < road.length;i++){
    					str += "<option value='"+road[i].Zip5+"'>"+road[i].Zip5+road[i].Area+road[i].Road+road[i].Scope+"</option>";
    				}
    			}								
    			$(".customselect-block").html("<select id='selectZip' class='custom-select'>"+str+"</select>")
    			$("#selectZip").customselect();
			});        	

        }else{
        	alert("請選擇縣市及鄉鎮市區");
        }
    });

	</script>
</body>
</html>